<h1>Your cart</h1>

<% if @products.empty? %>
  Your Cart Is Currently Empty
<% else %>
<% end %>

  <% @products.each do |product| %>
          <div class="column">

            <div class="thumbnail">
                  <%=image_tag product.image %>
              </div>

              <h3 class="h3-big"><%= product.title %></h3>
              <h5 class="h5-big"><%= product.price %></h5>

    <%=form_tag update_product_path(id: product.id), method: :patch do%>
    <%=label_tag "Quantity"%>
    <%=text_field_tag :quantity, product.quantity%>
    <%=submit_tag "Update", class: 'btn btn-primary'%>
    <%end%>

    <%=link_to "Remove", remove_product_path(id: product.id), method: :delete, class: 'btn btn-danger'%>
  <%end%>
